rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tasks/{taaskId} {
      allow read: if true;
      allow create: if request.auth.uid != null && request.resource.data.price >= 0;
      allow update: if request.auth.uid == resource.data.user_id && request.resource.data.price == resource.data.price && request.resource.data.desc == resource.data.desc && request.resource.data.start_date == resource.data.start_date  && request.resource.data.end_date == resource.data.end_date;
      allow  delete: if request.auth.uid != null;
        match /offers/{offerId} {
   			  allow read: if true;
          allow create: if true;
          allow update, delete: if resource.data.status != 'ACCEPTED' && resource.data.status != 'COMPLETED' && resource.data.status != 'CANCELLED';
         }
      }
  
    match /users/{userId} {
      allow read: if request.auth.uid == userId;
      allow create: if true
      allow update, delete: if exists(/databases/{database}/documents/users/{userId}) == false;
        match /on_going_task/{on_going_taskId} {
    	   allow read: if true;
         allow write: if false;
        }
    }

    match /wallets/{walletId} {
      allow read: if request.auth.uid != null;
      allow write: if false;

      match /transactions/{transactionId} {
   			allow read: if request.auth.uid != null;
        allow write: if false;
      }
      match /escrows/{escrowId} {
   			allow read: if request.auth.uid != null;
        allow write: if false;
      }
    }

    match /usernames/{usernameId} {
    	allow read: if true;
      allow write: if false;

      match /referrals/{referralId} {
    	  allow read: if true;
        allow write: if false;
      }
    }

    match /verification/{verificationID} {
    	allow read: if true;
      allow write: if true;
    }

    match /shops/{shopId} {
    	allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if false;
      match /reviews/{reviewId} {
        allow read: if true;
        allow create: if true;
        allow update: if true;
      }
      match /customers/{customerId} {
        allow read: if true;
        allow create: if true;
      }
      match /products/{productId} {
        allow read: if true;
        allow create, update, delete: if request.auth.uid == shopId;
      }
      match /categories/{categoryId} {
        allow read: if true;
        allow create, update, delete: if request.auth.uid == shopId;
      }
    }
    match /services/{serviceId} {
    	allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if false;

      match /reviews/{reviewId} {
        allow read: if true;
        allow create: if true;
        allow update: if true;
      }
      match /customers/{customerId} {
        allow read: if true;
        allow create: if true;
      }
      match /products/{productId} {
        allow read: if true;
        allow create: if true;
      }
      match /categories/{categoryId} {
        allow read: if true;
        allow create, update, delete: if request.auth.uid == serviceId;
      }
      match /showcases/{showcaseId} {
        allow read: if true;
        allow create, update, delete: if request.auth.uid == serviceId;
      }
    }
    match /sites/{siteId} {
      allow read: if request.auth.uid == resource.data.user_id;
      allow create: if true;
      allow update, delete: if true;
    }
    match /site_components/{componentId} {
      allow read: if request.auth.uid == resource.data.user_id;
      allow create: if true;
      allow update, delete: if true;
    }
  }
  
}